{% extends "base.html" %}

{% block title %}Congratulations{% endblock %}

{% block name %} {{ user_name }} {% endblock %}

{% block image %} {{ session['user-photo'] }} {% endblock %}


{% block content %}
<h1>Yippie! You've reviewed all the cards.</h1>

<button type="button" onclick="window.location.href='{{ url_for('flashcards.review', id=info['data'][0], isRandom=info['isRandom']) }}'">Restart</button>
<button type="button" onclick="window.location.href='{{ url_for('flashcards.edit', id=info['data'][0]) }}'">Edit</button>
<button type="button" onclick="window.location.href='{{ url_for('index') }}'">Go Home</button>
{% endblock %}