{% extends "base.html" %}

{% block title %}{{ flashcards['information'][0] }}: {{ flashcards['information'][2] }}{% endblock %}

{% block name %} {{ user_name }} {% endblock %}

{% block content %}
<style>
    .flashcard {
        display: none; /* Only show the active flashcard */
    }
    .counter {
        font-size: 18px;
        margin: 20px 0;
    }
    .navigation-buttons {
        display: flex;
        gap: 10px;
    }
</style>

<button type="button" onclick='window.location.href="{{ url_for("flashcards.edit", id=flashcards["id"]) }}"' class="go-back-button">Go Back</button>
<h1>Review Flashcards</h1>
<div>
    {% for info in flashcards['information'] %}
    <h3>{{ info }}</h3>
    {% endfor %}
</div>

<div class="counter">
    Flashcard <span id="current-count">1</span> of {{ flashcards['cards'] | length }}
</div>

<div class="flashcards-container">
    {% for flashcard in flashcards['cards'] %}
    <div class="flashcard" id="flashcard-{{ loop.index }}">
        <p><strong>Question:</strong> {{ flashcard['question'] }}</p>
        
        {% if flashcard['image'] %}
            <img src="data:image/jpeg;base64,{{ flashcard['image'] }}" alt="Flashcard Image" style="max-width: 200px; height: auto;">
        {% endif %}
        
        <p><strong>Answer:</strong> {{ flashcard['answer'] }}</p>
    </div>
    {% endfor %}
</div>

<div class="navigation-buttons">
    <button type="button" id="prev-btn" onclick="showPreviousFlashcard()">Previous</button>
    <button type="button" id="next-btn" onclick="showNextFlashcard()">Next</button>
</div>

<input type="hidden" name="congrats-url" id="congrats-url" value="{{ url_for('flashcards.congrats', id=flashcards['id'], isRandom=flashcards['isRandom']) }}">
<script type="application/json" id="data-json">
    {{ flashcards['cards'] | tojson }}
</script>

<script type="application/json" id="data-length">
    {{ flashcards['cards'] | length }}
</script>

<script type="text/javascript" src="{{ url_for('static', filename='javascript/flashcards/reviewFunctionalities.js') }}"></script>
{% endblock %}