{% extends "base.html" %}

{% block title %} Reviewers List {% endblock %}

{% block name %} {{ user_name }} {% endblock %}

{% block image %} {{ session['user-photo'] }} {% endblock %}

{% block content %}

<!-- linking custom css for reviewers list-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/reviewersList/reviewerslist.css') }}">

<div class="subheader">
    <div class="ForBgFixed">
        <!-- title ni diri -->
        <div class="reviewerslist">
            <div class="reviewers">reviewers</div>
            <div class="list">list</div>
        </div>

        <!-- back button, pabalik sa main -->
        <button type="button" class="btn btn-light btn-m ms-5 back-button" onclick='window.location.href = "{{ url_for('index') }}"'>
            <i class="bi bi-arrow-left" style="margin-right: 5px;"></i> <b style="font-weight: normal;">Back</b>
        </button>
        <form action="{{ url_for('reviewers_list.index') }}" method="GET" id="searchForm">
            <div class="searchbar">
                <!-- Types of reviewers -->
                <div class="search-bar">
                    {% set types = ['All', 'Flashcard', 'Identification', 'Multiple Choice', 'Mixed'] %}
                    <select name="list" id="list" class="dropdown-text">
                        {% for type in types %}
                            <option value="{{ type }}" 
                                    class="dropdown-list-item" 
                                    data-field="{{ type }}" 
                                    {% if flashcards_data['searchParams'] and flashcards_data['searchParams']['type'] == type %}selected{% endif %}>
                                {{ type }}
                            </option>
                        {% endfor %}
                    </select>
                    
                    <div class="search-line">
                        <button type="submit" class="clear-btn" onclick="document.getElementById('search_input').value = ''; this.form.submit();">
                            <i class="bi bi-x-lg"></i>
                        </button>
                        <input type="text" 
                               id="search_input" 
                               name="search_input" 
                               placeholder="Search here..."
                               {% if flashcards_data['searchParams'] and flashcards_data['searchParams']['searched_item'] %}
                               value="{{ flashcards_data['searchParams']['searched_item'] }}"
                               {% endif %}>
                        <button type="submit" class="btn btn-light btn-m ms-5 search-btn" style="margin-left: 1rem;">
                            <i class="bi bi-search"></i> <b style="font-weight: normal;"></b>
                        </button>
                    </div>
                </div>

                <!-- Privacy option filter -->
                <div class="ms-5 filter">
                    <div class="d-flex">
                        {% set privacies = ['All', 'Private', 'Public', 'Shared'] %}
                        <select name="privacy_option" id="privacy_option" class="form-select" style="max-width: 200px; color: black;" onchange="document.getElementById('searchForm').submit()">
                            {% for privacy in privacies %}
                                <option value="{{ privacy }}" 
                                        {% if flashcards_data['searchParams'] and flashcards_data['searchParams']['privacy'] == privacy %}selected{% endif %}>
                                    {{ privacy }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
        
                <!-- Sort by option -->
                <div class="ms-5 sort">
                    <div class="d-flex">
                        <select name="sort_by" id="sort_by" class="form-select me-2" style="max-width: 200px; color: black;" onchange="document.getElementById('searchForm').submit()">
                            <option value="DESC" 
                                    class="arrow-option" 
                                    {% if flashcards_data['searchParams'] and flashcards_data['searchParams']['order'] == "DESC" %}selected{% endif %}>
                                Most Recent &darr;
                            </option>
                            <option value="ASC" 
                                    class="arrow-option" 
                                    {% if flashcards_data['searchParams'] and flashcards_data['searchParams']['order'] == "ASC" %}selected{% endif %}>
                                Oldest &uarr;
                            </option>
                        </select>
                    </div>
                </div>
                
                {% set total_items = flashcards_data['details']['totalCount'] %}
                {% set items_per_page = flashcards_data['details']['countPerPage'] %}
                {% set total_pages = (total_items // items_per_page) + (1 if total_items % items_per_page > 0 else 0) %}

                <!-- Pagination -->
                <nav aria-label="Page navigation example" class="pagination-nav d-flex justify-content-center w-100">
                    <ul class="pagination pagination-lg">
                        <!-- Previous Page -->
                        <li class="page-item {% if flashcards_data['searchParams']['page'] <= 1 %}disabled{% endif %}">
                            <a class="page-link" 
                            href="{{ url_for('reviewers_list.index', 
                                    list=flashcards_data['searchParams']['type'], 
                                    search_input=flashcards_data['searchParams']['searched_item'], 
                                    privacy_option=flashcards_data['searchParams']['privacy'], 
                                    sort_by=flashcards_data['searchParams']['order'], 
                                    page=flashcards_data['searchParams']['page'] - 1) }}" 
                            aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <!-- Page Number Links -->
                        {% for i in range(1, total_pages + 1) %}
                            {% if i <= 5 or i > total_pages - 3 or (i >= flashcards_data['searchParams']['page'] - 2 and i <= flashcards_data['searchParams']['page'] + 2) %}
                                <li class="page-item {% if flashcards_data['searchParams']['page'] == i %}active{% endif %}">
                                    <a class="page-link" 
                                    href="{{ url_for('reviewers_list.index', 
                                            list=flashcards_data['searchParams']['type'], 
                                            search_input=flashcards_data['searchParams']['searched_item'], 
                                            privacy_option=flashcards_data['searchParams']['privacy'], 
                                            sort_by=flashcards_data['searchParams']['order'], 
                                            page=i) }}">
                                        {{ i }}
                                    </a>
                                </li>
                            {% elif i == 6 or i == total_pages - 3 %}
                                <li class="page-item disabled">
                                    <span class="page-link">...</span>
                                </li>
                            {% endif %}
                        {% endfor %}

                        <!-- Next Page -->
                        <li class="page-item {% if flashcards_data['searchParams']['page'] >= total_pages %}disabled{% endif %}">
                            <a class="page-link" 
                            href="{{ url_for('reviewers_list.index', 
                                    list=flashcards_data['searchParams']['type'], 
                                    search_input=flashcards_data['searchParams']['searched_item'], 
                                    privacy_option=flashcards_data['searchParams']['privacy'], 
                                    sort_by=flashcards_data['searchParams']['order'], 
                                    page=flashcards_data['searchParams']['page'] + 1) }}" 
                            aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </form>
    </div>    
</div>

<!-- starting from here: mag use na og 'section class: content' -->
<!-- kay rag nag act na ang ibabaw nga html ani as header -->
<!-- maong need naay 'content' para below sa header ma place ang below na ani nga mga html attributes -->
<!-- add button for new reviewers list flashcards -->


<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
        {% endfor %}
        {% endif %}
    {% endwith %}
        <!-- Form for Creating Flashcard -->
        <form action="{{ url_for('flashcards.create') }}" method="post">
        <!-- CSRF Token -->
        <input type="hidden" name="_csrf_token" id="_csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="from_url" id="from_url" value="{{ request.full_path  }}" />
        <!-- Input Field -->
        <div class="input-group mb-3">
            <input type="text" class="title-input form-control"
            style="border: none; border-bottom: 2px solid #000000; border-radius: 0;" placeholder="Title"
            aria-label="Title" name="reviewer-title" id="reviewer-title" maxlength="100" required>
        </div>

        <div class="d-flex">
            {% set types = ["Flashcard", "Identification", "Multiple Choice", "Mixed"] %}
            <select name="reviewer-type" id="reviewer-type" class="form-select me-2"
            style="max-width: 150px; color: black;">
            {% for type in types %}
            <option value="{{ type }}" {% if not type=="Flashcard" %}disabled{% endif %}>{{ type }}</option>
            {% endfor %}
            </select>

            {% set privacy = ["Private", "Public", "Shared"] %}
            <select name="reviewer-privacy" id="reviewer-privacy" class="form-select me-2"
            style="max-width: 150px; color: black;">
            {% for priv in privacy %}
            <option value="{{ priv }}">{{ priv }}</option>
            {% endfor %}
            </select>
        </div>

        <div class="modal-footer justify-content-center w-100 mt-3">
            <button type="submit" class="create-button btn btn-dark">Create</button>
        </div>
        </form>
    </div>
    </div>
</div>
</div>

<section class="content sample one" style="display: flex; margin-top: 250px;">
    <!-- Add Button as Card -->
    <button type="button" class="card add-button" data-bs-toggle="modal" data-bs-target="#exampleModal2" style="background-color: #fffff0;">
        <div class="card-content">
            <div class="add-icon">
                <i class="bi bi-plus"></i>
            </div>
        </div>
    </button>
    {% for flashcard in flashcards_data['data'] %}
    <a href="{{ url_for('flashcards.edit', id=flashcard[0]) }}" class="card" style="background-color: {{ flashcards_data['bgcolor'][flashcard[3]] }};">
        <div class="card-content" style="color: {{ flashcards_data['fgcolor'][flashcard[3]] }};">
            <div>
                <div class="card-name"><b>{{ flashcard[1] }}</b></div>
                <div class="card-type">{{ flashcard[3] }}</div>
                <div class="card-time">{{ flashcard[5] }}</div>     <!-- E pwesto ni palihog sa lower right bitaw, then medyo transparent sya -->
            </div>
            <div class="card-footer" style="border-color: {{ flashcards_data['fgcolor'][flashcard[3]] }};">
                <span class="card-owner">{{ user_name }}</span>
                <span class="card-share-type">{{ flashcard[4] }}</span>
            </div>
        </div>
    </a>
    {% endfor %}
</section>
    
<script type="text/javascript" src="{{ url_for('static', filename='javascript/reviewersList/reviewerslist.js') }}"></script>          
{% endblock %}