/* importing google font: kode mono */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kode+Mono:wght@400..700&family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

:root {
    --clock-bg: #FBA421;
    --play-bg: #51C886;
    --pause-bg: #61C7E7;
    --close-bg: #E07878;
    --white-color: #fff;
    --black-color: #000;
    --icon-border: #1E1E1E;
    --close-border: #F6F5F5;
    --close-icon: #FEF7FF;
    --primary-color: #0D1A26;
    --secondary-color: #0E7373;
}

.clock-container {
    width: 347px;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-base {
    width: 335px;
    height: 49px;
    background: var(--clock-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-base {
    width: 170px;
    height: 33px;
    background: var(--black-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}

.time-display {
    color: var(--white-color);
    font-size: 20px;
    font-family: "Kode Mono";
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
}

.set-timer, .play-stop-timer, .pause-resume-timer {
    width: 39px;
    height: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.set-timer {
    background: rgba(255, 0, 0, 0.50);
}

.play-stop-timer {
    background: var(--play-bg);
}

.pause-resume-timer {
    background: var(--pause-bg);
}

.play-stop-timer .play-stop-circle, 
.set-timer .set-circle, 
.pause-resume-timer .pause-resume-circle {
    width: 16px;
    height: 16px;
    padding: 1.33px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 13.33px;
    height: 13.33px;
    border: 1.60px solid var(--icon-border);
}

.close-clock {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -5px;
    left: -10px;
    background: var(--close-bg);
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.close {
    width: 25px;
    height: 25px;
    padding: 5.21px;
    border-radius: 4px;
    border: 1px solid var(--close-border);
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.close .icon {
    width: 14.58px;
    height: 14.58px;
    background: var(--close-icon);
}

/* need ichange kay ga libog nakoooooo */
.set-timer:hover, .pause-resume-timer:hover, .play-stop-timer:hover {
    background-color: var(--white-color);
    transform: scale(1.1);
}

.set-timer-modal {
    display: none;
    position: absolute;
    bottom: -150px;
    left: 0;
    right: 0;
    margin: auto;
    width: 250px;
    padding-bottom: 15px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.set-timer-modal h4 {
    width: 100%;
    border-radius: 8px 8px 0 0;
    background-color: var(--primary-color);
    color: var(--white-color);
    margin-bottom: 10px;
    text-align: center;
}

.modal-timer-display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-input {
    width: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 2px;
    font-family: "Kode Mono";
}

.modal-actions {
    text-align: center;
    margin-top: 10px;
}

/* need ichange pero unya na kay kapoy huhu */
.modal-actions button {
    margin: 0 5px;
    padding: 5px 15px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 5px;
}

.save-timer{
    background-color: var(--play-bg);
}

.cancel-timer{
    background-color: var(--close-bg);
}

.save-timer:hover{
    background-color: #fff;
    color: var(--play-bg);
}

.cancel-timer:hover{
    background-color: #fff;
    color: var(--close-bg);
}