{% extends "base.html" %}

{% block title %} Review Mixs {% endblock %}

{% block name %} {{ user_name }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reviewers/mixed/review.css') }}">

<button type="button" class="go-back-button" onclick='window.location.href="{{ url_for("reviewers.mixed.edit", id=mixed["id"], type="Mixed") }}"'>
    <i class="bi bi-arrow-left" style="margin-right: 5px;"></i> 
    <b style="font-weight: normal;">Go Back</b>
</button>

<div class="review-mixed-header">
    <div>
        <h1>{{ mixed['information'][0] }}</h1>
    </div>      
</div>

<!-- for mixed na ni diri literal -->
<div class="mixed-container">
    {% for mix in mixed['cards'] %}
    {% set outer_index = loop.index %}
    <div class="mix" id="mix-{{ outer_index }}">
        <div class="mix-inner">
            <span class="number-mixed">{{ outer_index }}</span>
            <!-- Front of the card - Question -->
            <div class="mix-front">
                <p>{{ mix['question'] }}</p>
                {% if mix['image'] %}
                <img src="data:image/jpeg;base64,{{ mix['image'] }}" alt="Mix Image" class="mix-image" style="max-width: 100%; height: auto;">
                {% endif %}
            </div>
            <!-- Type Answer Section -->
            <div class="type-answer" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
                {% if mix['type'] == "Identification" %}
                <input type="text" data-num="{{ outer_index }}" data-answer_type="Identification" class="answer-text" placeholder="Type your answer..." maxlength="150" />
                {% else %}
                <button type="button" data-num="{{ outer_index }}" data-answer_type="Multiple Choice" class="answer-text" data-bs-toggle="modal" data-bs-target="#choose-{{ outer_index }}">Select</button>
                {% endif %}
            </div>
        </div>
    </div>

    {% if not mix['type'] == "Identification" %}
    <!-- Vertically centered scrollable modal -->
    <div class="modal fade" id="choose-{{ outer_index }}" tabindex="-1" aria-labelledby="choose-{{ outer_index }}-label">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="choose-{{ outer_index }}-label">Select an Answer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for answer in mix['answer'] %}
                    {% set inner_index = loop.index %}
                    <div class="form-check">
                        <input  type="radio"  class="form-check-input"  data-num="{{ inner_index }}"  data-text="{{ answer[0] }}"  name="options-{{ outer_index }}"  
                            id="options-{{ outer_index }}-{{ inner_index }}"  value="{{ answer[1] }}" >
                        <label class="form-check-label" for="options-{{ outer_index }}-{{ inner_index }}" style="width: 80%;">{{ answer[0] }}</label>
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-danger" onclick="removeChosen('{{ outer_index }}')">Remove Chosen</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>



<div class="navigation-buttons">
    <button type="button" id="prev-btn" class="prev-btn" onclick="showPreviousMix()">
        <i class="bi bi-caret-left-fill"></i>
    </button>

    <div class="counter">
        <span id="current-count"> 1 </span> of {{ mixed['cards'] | length }}
    </div>

    <button type="button" id="next-btn" class="next-btn" onclick="showNextMix()">
        <i class="bi bi-caret-right-fill"></i>
    </button>
</div>

<input type="hidden" name="congrats-url" id="congrats-url" value="{{ url_for('reviewers.mixed.congrats', type="Mixed", id=mixed['id'], isRandom=mixed['isRandom']) }}">

<script type="application/json" id="data-json">
    {{ mixed['cards'] | tojson }}
</script>

<script type="application/json" id="data-length">
    {{ mixed['cards'] | length }}
</script>

<script type="text/javascript" src="{{ url_for('static', filename='javascript/reviewers/mixed/reviewFunctionalities.js') }}"></script>

{% endblock %}