{% extends "base.html" %}

{% block title %} Review Mixs {% endblock %}

{% block name %} {{ user_name }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reviewers/mixed/review.css') }}">

<button type="button" class="go-back-button" onclick='window.location.href="{{ url_for("reviewers.mixed.edit", id=mixed["id"], type="Mix") }}"'>
    <i class="bi bi-arrow-left" style="margin-right: 5px;"></i> 
    <b style="font-weight: normal;">Go Back</b>
</button>

<div class="review-mixed-header">
    <div>
        <h1>{{ mixed['information'][0] }}</h1>
    </div>      
</div>

<!-- for mixed na ni diri literal -->
<div class="mixed-container">
    {% for mix in mixed['cards'] %}
    <div class="mix" id="mix-{{ loop.index }}">
        <div class="mix-inner">
            <span class="number-mixed">{{ loop.index }}</span>
            <!-- front ni sa card = ang question diri -->
            <div class="mix-front">
                <p>{{ mix['question'] }}</p>
                {% if mix['image'] %}
                    <img src="data:image/jpeg;base64,{{ mix['image'] }}" alt="Mix Image" class="mix-image" style="max-width: 100%; height: auto;">
                {% endif %}
            </div>
            <!-- Type Answer Section -->
            <div class="type-answer">
                <input type="text" class="answer-text" placeholder="Type your answer..." maxlength="150" />
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<div class="navigation-buttons">
    <button type="button" id="prev-btn" class="prev-btn" onclick="showPreviousMix()">
        <i class="bi bi-caret-left-fill"></i>
    </button>

    <div class="counter">
        <span id="current-count"> 1 </span> of {{ mixed['cards'] | length }}
    </div>

    <button type="button" id="next-btn" class="next-btn" onclick="showNextMix()">
        <i class="bi bi-caret-right-fill"></i>
    </button>
</div>

<input type="hidden" name="congrats-url" id="congrats-url" value="{{ url_for('reviewers.mixed.congrats', type="Mixed", id=mixed['id'], isRandom=mixed['isRandom']) }}">

<script type="application/json" id="data-json">
    {{ mixed['cards'] | tojson }}
</script>

<script type="application/json" id="data-length">
    {{ mixed['cards'] | length }}
</script>

<script type="text/javascript" src="{{ url_for('static', filename='javascript/reviewers/mixed/reviewFunctionalities.js') }}"></script>

{% endblock %}