{% extends "base.html" %}

{% block title %}Congratulations{% endblock %}

{% block name %} {{ user_name }} {% endblock %}

{% block image %} {{ session['user-photo'] }} {% endblock %}


{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reviewers/congrats.css') }}">

<div class="congrats">
    <div class="confetti">
        <img src="{{ url_for('static', filename='img/confetti.png') }}" alt="Confetti" />
    </div>
    <h1>Yippie! You've reviewed all the cards.</h1>

    <div class="button-group">
        <button type="button" onclick="window.location.href='{{ url_for('reviewers.flashcards.review', id=info['data'][0], isRandom=info['isRandom']) }}'"> Restart </button>
        <button type="button" onclick="window.location.href='{{ url_for('reviewers.edit', id=info['data'][0], type="Flashcard") }}'"> Edit </button>
        <button type="button" onclick="window.location.href='{{ url_for('index') }}'"> Go Home </button>
    </div>
</div>

<canvas id="congrats-confetti"></canvas>

<script type="text/javascript" src="{{ url_for('static', filename='javascript/reviewers/congrats.js') }}"></script>
{% endblock %}