{% extends "base.html" %}

{% block title %} Saved Page {% endblock %}

{% block name %} {{ user_name }} {% endblock %}

{% block image %} {{ session['user-photo'] }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/savedPage/style.css') }}">

<input type="hidden" name="save-url" id="save-url" value="{{ url_for('reviewers_feed.saveItems') }}" />
<input type="hidden" name="_token_csrf" id="_token_csrf" value="{{ csrf_token() }}">

<div class="subheader">
    <div class="ForBgFixed">
        <!-- title ni diri -->
        <div class="reviewerslist">
            <div class="reviewers">saved</div>
            <div class="list">page</div>
        </div>

        <!-- back button, pabalik sa main -->
        <button type="button" class="btn btn-light btn-m ms-5 back-button" onclick='window.location.href = "{{ url_for('index') }}"'>
            <i class="bi bi-arrow-left" style="margin-right: 5px;"></i> <b style="font-weight: normal;">Back</b>
        </button>
        <form action="{{ url_for('saved_page.index') }}" method="GET" id="searchForm">
            <div class="searchbar">
                <!-- Types of reviewers -->
                <div class="search-bar">
                    {% set types = ['All Reviewers', 'Flashcard', 'Identification', 'Multiple Choice', 'Mixed', 'Notes'] %}
                    <select name="list" id="list" class="dropdown-text" onchange="document.getElementById('searchForm').submit();">
                        {% for type in types %}
                            <option value="{{ type }}" 
                                    class="dropdown-list-item" 
                                    data-field="{{ type }}" 
                                    {% if reviewers_data['searchParams'] and reviewers_data['searchParams']['type'] == type %}selected{% endif %}>
                                {{ type }}
                            </option>
                        {% endfor %}
                    </select>
                    
                    <div class="search-line">
                        <button type="button" class="clear-btn" onclick="clearSearch(this.form)">
                            <i class="bi bi-x-lg"></i>
                        </button>
                        <input type="text" 
                               id="search_input" 
                               name="search_input" 
                               placeholder="Search here..."
                               {% if reviewers_data['searchParams'] and reviewers_data['searchParams']['searched_item'] %}
                               value="{{ reviewers_data['searchParams']['searched_item'] }}"
                               {% endif %}>
                        <button type="submit" class="search-btn" style="background-color: transparent; border: none;">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
        
                <!-- Sort by option -->

                <!-- filter sa subject -->
                <div class="ms-5 sort">
                    <div class="d-flex">
                        <select name="sort_course" id="sort_course" class="form-select m-2" style="width: 150px; color: black;" onchange="document.getElementById('searchForm').submit()">
                            <option value="All Course" selected title="Display All Course">All Course</option>
                            {% for course in courses %}
                            <option value="{{ course[0] }}" {% if reviewers_data['searchParams']['course'] == course[0] %}selected{% endif %} title="{{ course[1] }}">{{ course[0] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="d-flex">
                        <select name="sort_by" id="sort_by" class="form-select me-2" style="width: 150px; color: black;" onchange="document.getElementById('searchForm').submit()">
                            <option value="DESC" 
                                    class="arrow-option" 
                                    {% if reviewers_data['searchParams'] and reviewers_data['searchParams']['order'] == "DESC" %}selected{% endif %}>
                                Most Recent &darr;
                            </option>
                            <option value="ASC" 
                                    class="arrow-option" 
                                    {% if reviewers_data['searchParams'] and reviewers_data['searchParams']['order'] == "ASC" %}selected{% endif %}>
                                Oldest &uarr;
                            </option>
                        </select>
                    </div>
                </div>
                
                {% set total_items = reviewers_data['details']['totalCount'] %}
                {% set items_per_page = reviewers_data['details']['countPerPage'] %}
                {% set total_pages = (total_items // items_per_page) + (1 if total_items % items_per_page > 0 else 0) %}
                
                <!-- Pagination -->
                <nav aria-label="Page navigation example" class="pagination-nav d-flex justify-content-center w-100">
                    <ul class="pagination pagination-lg">
                        <!-- Previous Page -->
                        <li class="page-item {% if reviewers_data['searchParams']['page'] <= 1 %}disabled{% endif %}">
                            <a class="page-link" 
                            href="{{ url_for('saved_page.index', 
                                    list=reviewers_data['searchParams']['type'], 
                                    search_input=reviewers_data['searchParams']['searched_item'],
                                    sort_by=reviewers_data['searchParams']['order'], 
                                    page=reviewers_data['searchParams']['page'] - 1) }}" 
                            aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <!-- Page Number Links -->
                        {% for i in range(1, total_pages + 1) %}
                            {% if i <= 5 or i > total_pages - 3 or (i >= reviewers_data['searchParams']['page'] - 2 and i <= reviewers_data['searchParams']['page'] + 2) %}
                                <li class="page-item {% if reviewers_data['searchParams']['page'] == i %}active{% endif %}">
                                    <a class="page-link" 
                                    href="{{ url_for('saved_page.index', 
                                            list=reviewers_data['searchParams']['type'], 
                                            search_input=reviewers_data['searchParams']['searched_item'],
                                            sort_by=reviewers_data['searchParams']['order'], 
                                            page=i) }}">
                                        {{ i }}
                                    </a>
                                </li>
                            {% elif i == 6 or i == total_pages - 3 %}
                                <li class="page-item disabled">
                                    <span class="page-link">...</span>
                                </li>
                            {% endif %}
                        {% endfor %}

                        <!-- Next Page -->
                        <li class="page-item {% if reviewers_data['searchParams']['page'] >= total_pages %}disabled{% endif %}">
                            <a class="page-link" 
                            href="{{ url_for('saved_page.index', 
                                    list=reviewers_data['searchParams']['type'], 
                                    search_input=reviewers_data['searchParams']['searched_item'],
                                    sort_by=reviewers_data['searchParams']['order'], 
                                    page=reviewers_data['searchParams']['page'] + 1) }}" 
                            aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </form>
    </div>    
</div>

<!-- below kay mga templates rani -->
<section class="content sample one" style="display: flex; margin-top: 220px;">
    <!-- first flashcard content -->

    <!-- change ni saved reviewers kay sample rani sa reviewerslist ni nga data -->
    {% for reviewer in reviewers_data['data'] %}
    {% if not reviewers_data['searchParams']['type'] == "Notes" %}
      <a href="{{ url_for('reviewers.edit', id=reviewer[0], type=reviewer[2]) }}" class="card" style="background-color: {{ reviewers_data['bgcolor'][reviewer[2]] }}">
        <div class="card-content" style="color: {{ reviewers_data['fgcolor'][reviewer[2]] }};">
          <div>
            <div class="card-name"><b>{{ reviewer[1] }}</b></div>
            <div class="card-type">{{ reviewer[2] }}</div>
            <div class="card-time">{{ reviewer[5] }}</div>
          </div>

            <div class="save_unsaved" style="margin-left: 445px;">
                {% if reviewer[5] %}
                    <input style="display: none;" type="checkbox" name="save-reviewer" id="save-reviewer-{{ reviewer[0] }}" data-reviewer_id="{{ reviewer[0] }}" onchange="saveReviewer(this);" checked>
                    <label style="cursor:pointer;" id="save-icon-{{ reviewer[0] }}" for="save-reviewer-{{ reviewer[0] }}"><i class="bi bi-bookmark-fill"></i></label>
                {% else %}
                    <input style="display: none;" type="checkbox" name="save-reviewer" id="save-reviewer-{{ reviewer[0] }}" data-reviewer_id="{{ reviewer[0] }}" onchange="saveReviewer(this);">
                    <label style="cursor:pointer;" id="save-icon-{{ reviewer[0] }}" for="save-reviewer-{{ reviewer[0] }}"><i class="bi bi-bookmark"></i></label>
                {% endif %}
            </div>

          <div class="card-footer" style="border-color: {{ reviewers_data['fgcolor'][reviewer[2]] }};">
            <span class="card-owner">{{ reviewer[4] }}</span>
            <span class="card-share-type">{{ reviewer[3] }}</span>
          </div>
        </div>
      </a>
    {% else %}
    <a href="{{ reviewer[2] }}" target="_blank" class="card" style="background-color: {{ reviewers_data['bgcolor'][reviewer[2]] }}">
        <div class="card-content" style="color: {{ reviewers_data['fgcolor'][reviewer[2]] }};">
          <div>
            <div class="card-name"><b>{{ reviewer[1] }}</b></div>
            <div class="card-type">Notes</div>
            <div class="card-time">{{ reviewer[5] }}</div>
          </div>

            <div class="save_unsaved" style="margin-left: 445px;">
                {% if reviewer[5] %}
                    <input style="display: none;" type="checkbox" name="save-reviewer" id="save-reviewer-{{ reviewer[0] }}" data-reviewer_id="{{ reviewer[0] }}" onchange="saveReviewer(this);" checked>
                    <label style="cursor:pointer;" id="save-icon-{{ reviewer[0] }}" for="save-reviewer-{{ reviewer[0] }}"><i class="bi bi-bookmark-fill"></i></label>
                {% else %}
                    <input style="display: none;" type="checkbox" name="save-reviewer" id="save-reviewer-{{ reviewer[0] }}" data-reviewer_id="{{ reviewer[0] }}" onchange="saveReviewer(this);">
                    <label style="cursor:pointer;" id="save-icon-{{ reviewer[0] }}" for="save-reviewer-{{ reviewer[0] }}"><i class="bi bi-bookmark"></i></label>
                {% endif %}
            </div>

          <div class="card-footer" style="border-color: {{ reviewers_data['fgcolor'][reviewer[2]] }};">
            <span class="card-owner">{{ reviewer[4] }}</span>
            <span class="card-share-type">{{ reviewer[3] }}</span>
          </div>
        </div>
      </a>
    {% endif %}
    {% endfor %}
</section>

<!-- always ipa behind ang modal -->
<div class="modal fade" id="filtermodal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2" style="text-align: center;">Search Filters</h5> <!-- Added header -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="clearSearchInput()" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                {% if category == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}
                    
                    <!-- input fields -->
                    <div class="input-group mb-3">
                        <input type="text" class="title-input form-control" 
                            placeholder="Search" aria-label="Title" 
                            id="search-line-modal" autocomplete="off" maxlength="100" required>
                    </div>

                    <!-- suggestions search -->
                    <div class="suggestions-container">
                        <!-- will append here -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='javascript/savedPage/functionalities.js') }}"></script>          
{% endblock %}