:root {
    --number-size: 16px;
    --white: #ffffff;
}

.flashcards-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.flashcard {
    width: 90%; /* Full width of the container */
    background-color: #d3d3d3;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    margin: 10px 0;
}

.add-button-container {
    width: 90%; /* Matches the container width */
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.add-card-btn {
    width: 92%; /* Full width of the container */
    background-color: #d3d3d3;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.add-card-btn:hover {
    background-color: #0E7373;
}


.flashcard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

.flashcard-number {
    font-size: var(--number-size);
    font-weight: bold;
}

.flashcard-actions {
    display: flex;
    gap: 10px;
}

.drag-button,
.delete-button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: black;
}

.flashcard-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;
}

.term-input,
.definition-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #d3d3d3;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    height: 100px;
    resize: none;
}

.input-label {
    font-size: 12px;
    font-weight: bold;
    color: black;
    margin-top: 5px;
}

.image-button {
    cursor: pointer;
    border: 1px solid #ccc;
    width: 100px;
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed black;
    border-radius: 5px;
    overflow: hidden;
    background-color: #d3d3d3;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 30px;
}

.image-button span {
    font-size: 20px;
}

.button-label {
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}

.sortable-ghost {
    opacity: 0.5;
    background-color: #e0e0e0;
}

