/* importing google fonts: inter, miniver, and poppins */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Miniver&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

:root{
    /* colors */
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #0D1A26;
    --secondary-color: #0E7373;
    --accent-color: #0C203E;
    --navbar-bg-color: #FAFAFA;

    /* font size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* font weight */
    --font-weight-norml: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* border radius */
    --border-radius-s: 0.8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* site mas width */
    --site-max-width: 1300px;

    --background-color: #f8f9fa;
    --background-color-hover: #e2e6ea;
    --border-color: #ccc;
    --number-size: 16px;
    --white: #ffffff;
}
.go-back-button {
    transform: translateX(20px) translateY(10px);
    font-size: 0.9rem;
    padding: 8px 16px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--background-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.go-back-button:hover {
    background-color: var(--background-color-hover);
}

.review-flashcards-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    text-align: center;
<<<<<<< HEAD
    margin-top: -50px;
    margin-bottom: 0px;
=======
    margin-top: -20px;
>>>>>>> dbce20b1b844fc5c62f623c98bdbe3bd4910cd4a
}

.flashcards {
    display: flex;
    text-align: center;
    color: var(--primary-color);
    font-size: 55px;
    font-weight: 700;
    word-wrap: break-word;
}

.flashcards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    text-align: center;
    margin-top: -20px;
}

.flashcards-container .p{
    padding: 20px;
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38%;
    margin: 0 auto; 
}

.counter {
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.prev-btn, .next-btn{
    font-size: 1rem;
    padding: 10px 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--background-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.prev-btn, .next-btn:hover {
    background-color: var(--background-color-hover);
    transform: scale(1.05);
}

<<<<<<< HEAD
=======
/* adjust ni siya sa spacing sa flashcards 1 of 1 */
>>>>>>> dbce20b1b844fc5c62f623c98bdbe3bd4910cd4a
.counter span {
    margin: 0 5px;
}

.flashcard p,
.flashcard-front p,
.flashcard-back p {
    padding-left: 10px;
    padding-right: 10px;
}

.flashcards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.flashcard {
    width: 900px;
    height: 630px;
    perspective: 1000px;
<<<<<<< HEAD
    margin-top: -20px;
=======
>>>>>>> dbce20b1b844fc5c62f623c98bdbe3bd4910cd4a
    cursor: pointer;
    font-size: var(--font-size-xl);
}

<<<<<<< HEAD
=======
/* size sa image kay galisod kog set sa container kay di mo cooperate si flashcard front */
>>>>>>> dbce20b1b844fc5c62f623c98bdbe3bd4910cd4a
.flashcard .flashcard-front .flashcard-image {
    width: 300px;
    max-height: 200px;
    object-fit: cover;
}

.flashcard-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

<<<<<<< HEAD
=======
/* INIG FLIP NA NI */
>>>>>>> dbce20b1b844fc5c62f623c98bdbe3bd4910cd4a
.flashcard.flipped .flashcard-inner {
    transform: rotateY(180deg);
}

.flashcard-front, .flashcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--white-color);
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--primary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flashcard-back {
    transform: rotateY(180deg);
<<<<<<< HEAD
    background-color: var(--secondary-color);
=======
    background-color: var(--primary-color);
>>>>>>> dbce20b1b844fc5c62f623c98bdbe3bd4910cd4a
}
   
.counter {
    font-size: 18px;
    margin: 20px 0;
}

.navigation-buttons {
    display: flex;
    gap: 10px;
}