{% extends "base.html" %}

{% block title %} Profile {% endblock %}

{% block name %} {{ userName }} {% endblock %}

{% block image %} {{ userIMG }} {% endblock %}


{% block content %}
<style>
.withpad { margin:10px; padding:10px; }

.dropdown-item:hover {
    background-color: #6c757d; /* Bootstrap's grey color */
    color: white; /* Change text color to white on hover */
  }


</style>
<div class="d-flex justify-content-center py-3 position-relative">
    <div class="input-group rounded d-flex justify-content-center mt-2">
        <div class="form-outline" data-mdb-input-init>
        <input id="input-search "type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon" style="border-radius: 20px; width: 300px;" />
        </div>
        <div>
          <button type="button" class="btn btn-outline-light" style="border: none;"><i class="fas fa-search"></i></button>
        </div>
      </div>
      <div class="position-absolute top-0 end-0 mt-3 me-3"> <button type="button" class="btn btn-light btn-lg" style="border-radius: 30px;"> <i class="fa-regular fa-pen-to-square"></i> </button> </div>
</div>
<div class="ms-5"> <h2 style="font-family: inter;">Notes:</h2> </div>
<div class="d-flex ms-5 mt-1"> <!-- Boxes -->
  <div class="row">
      
      <!-- Button that triggers the modal -->
        <button type="button" class="d-flex justify-content-center position-relative col withpad" 
        style="height: 245px; width: 250px; background-color: #FFFFF0; border-radius: 15px; border: 2px dashed black; text-decoration: none;" 
        data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-solid fa-plus fa-2xl position-absolute top-50 start-50 translate-middle" style="color: black;"></i>
        </button>

      <!-- Second Box: This one links to a different page -->
      <a href="/" class="d-flex justify-content-center align-items-center position-relative col withpad" style="height: 245px; width: 250px; background-color: #FFFFF0; border-radius: 15px; text-decoration: none;">
        <div class="text-center" style="margin-top: 20px;">
          <div style="height: 135px; width: 210px; background-color: #D9D9D9; display: flex; align-items: center; justify-content: center;">
            <p style="color: white; font-family: DM Mono; font-size: 24px; margin: 0;">Preview</p>
          </div>
          <span style="display: block; font-size: 24px; font-family: DM Mono; color: black; margin-top: 10px;">Name</span>
          <p style="font-size: 16px; font-family: DM Mono; color: rgba(0, 0, 0, 0.5); margin: 0;">Owner</p>
          <p style="text-align: right; font-size: 14px; font-family: DM Mono; color: rgba(0, 0, 0, 0.5); margin-top: 10px;">Share Type</p>
        </div>
      </a>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- ILISI SAD NG ACTION ANI ARUN MA HATAG SA ROUTE NA ASA NI PADULONGAY NA VALUES -->
        <form action="#" method="POST">
          <!-- ILISI LANG ANG UNSA NAKA SULOD DIRI SA NAME UG ID SA TEXT INPUTS ARUN MA MATCH SA DATABASE-->
          <div class="input-group mb-3">
            <input type="text" class="form-control" style="border: none; border-bottom: 2px solid #000000; border-radius: 0;" placeholder="Name" aria-label="Name" name="#" id="#">
          </div>

          <div class="input-group mb-3">
            <input type="text" class="form-control" style="border: 2px solid black;  border-radius: 0;" placeholder="Link" aria-label="Link" name="#" id="#">
          </div>

          <select name="privacy_value" id="privacy_value" class="form-select me-2" style="max-width: 150px; color: black;">
            <option value="private">Private</option>
            <option value="public">Public</option>
            <option value="shared">Shared</option>
         </select>
         <div class="modal-footer justify-content-center w-100 mt-3">
          <button type="submit" class="btn btn-dark">Add</button>
         </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- REVIEWERS-->


<div class="ms-5 mt-3"> <h2 style="font-family: inter;">Reviewers:</h2> </div>

<!-- Just change the values here to match the database and make a route for it pod so that arun ma search and magamit ang value-->
<div class="ms-5">
<form action="#" method="POST" id="ReviewersOptions">
  <div class="dropdown">
    <button class="btn dropdown-toggle btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      <b>Select Option</b>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><button type="submit" name="review_type" value="All" class="dropdown-item">All</button></li>
      <li><button type="submit" name="review_type" value="Flashcard" class="dropdown-item">Flashcard</button></li>
      <li><button type="submit" name="review_type" value="Identification" class="dropdown-item">Identification</button></li>
      <li><button type="submit" name="review_type" value="MultipleChoice" class="dropdown-item">Multiple Choice</button></li>
      <li><button type="submit" name="review_type" value="Mixed" class="dropdown-item">Mixed</button></li>
    </ul>
  </div>
</form>
</div>


<div class="d-flex ms-5 mt-1"> <!-- Boxes -->
  <div class="row">
      
      <!-- Button that triggers the modal -->
        <button type="button" class="d-flex justify-content-center position-relative col withpad" 
        style="height: 245px; width: 500px; background-color: #FFFFF0; border-radius: 15px; border: 2px dashed black; text-decoration: none;" 
        data-bs-toggle="modal" data-bs-target="#exampleModal2">
        <i class="fa-solid fa-plus fa-2xl position-absolute top-50 start-50 translate-middle" style="color: black;"></i>
        </button>

      <!-- Second Box: This one links to a different page -->
      <a href="/" class="d-flex justify-content-start position-relative col withpad" style="height: 245px; width: 500px; background-color: #D0D0D0; border-radius: 15px; text-decoration: none; border: 2px dashed black;">
        <div class="d-flex flex-column justify-content-between" style="height: 100%; width: 100%; padding: 10px;">
          
          <div>
            <div style="font-size: 32px; font-family: DM Mono; color: black;"><b>Name</b></div>
            <div style="font-size: 20px; font-family: DM Mono; color: black;">Type</div>
          </div>
      
          <div class="d-flex justify-content-between align-items-end">
            <span style="font-size: 20px; font-family: DM Mono; color: rgba(0, 0, 0, 0.5);">Owner</span>
            <span style="font-size: 16px; font-family: DM Mono; color: rgba(0, 0, 0, 0.5); align-self: flex-end;">Share Type</span>
          </div>
      
        </div>
      </a>
      
      
      
      
      
      
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- ILISI SAD NG ACTION ANI ARUN MA HATAG SA ROUTE NA ASA NI PADULONGAY NA VALUES -->
        <form action="#" method="POST">
          <!-- ILISI LANG ANG UNSA NAKA SULOD DIRI SA NAME UG ID SA TEXT INPUTS ARUN MA MATCH SA DATABASE-->
          <div class="input-group mb-3">
            <input type="text" class="form-control" style="border: none; border-bottom: 2px solid #000000; border-radius: 0;" placeholder="Title" aria-label="Title" name="#" id="#">
          </div>
          
          <div class="d-flex">
            <select name="ReviewersType" id="ReviewersType" class="form-select me-2" style="max-width: 150px; color: black; border: none;">
              <option value="Flashcard">Flashcard</option>
              <option value="Identification">Identification</option>
              <option value="Multiple Choice">Multiple Choice</option>
              <option value="Mixed">Mixed</option>
            </select>
          
            <select name="PrivacyValue" id="PrivacyValue" class="form-select me-2" style="max-width: 150px; color: black;">
              <option value="private">Private</option>
              <option value="public">Public</option>
              <option value="shared">Shared</option>
            </select>
          </div>

         <div class="modal-footer justify-content-center w-100 mt-3">
          <button type="submit" class="btn btn-dark">Create</button>
         </div>
        </form>
      </div>
    </div>
  </div>
</div>

{%endblock%}