{% extends "base.html" %}

{% block title %} IIT Buddy {% endblock %}

{% block name %} {{ userName }} {% endblock %}

{% block image %} {{ session['user-photo'] }} {% endblock %}

{% block content %}
<style>
  .withpad {
    margin: 10px;
    padding: 10px;
  }

  .dropdown-item:hover {
    background-color: #6c757d;
    /* Bootstrap's grey color */
    color: white;
    /* Change text color to white on hover */
  }
</style>

<!-- Search bar and edit button -->
<div class="d-flex justify-content-center py-3 position-relative">
  <div class="input-group rounded d-flex justify-content-center mt-2">
    <div class="form-outline" data-mdb-input-init>
      <input id="input-search" type="search" class="form-control" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" style="border-radius: 20px; width: 300px;" />
    </div>
    <div>
      <button type="button" class="btn btn-outline-light" style="border: none;"><i class="fas fa-search"></i></button>
    </div>
  </div>
  <div class="position-absolute top-0 end-0 mt-3 me-3">
    <button type="button" class="btn btn-light btn-lg" style="border-radius: 30px;">
      <i class="fa-regular fa-pen-to-square"></i>
    </button>
  </div>
</div>

<!-- Notes section -->
<div class="ms-5">
  <h2 style="font-family: inter;">Notes:</h2>
</div>
<div class="d-flex ms-5 mt-1" id="notes-container"> <!-- Boxes -->
  <div class="row">

    <!-- Button that triggers the modal -->
    <button type="button" class="d-flex justify-content-center position-relative col withpad"
      style="height: 245px; width: 250px; background-color: #FFFFF0; border-radius: 15px; border: 2px dashed black; text-decoration: none;"
      data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa-solid fa-plus fa-2xl position-absolute top-50 start-50 translate-middle" style="color: black;"></i>
    </button>

    <!-- Second Box: This one links to a different page -->
    <a href="/" class="d-flex justify-content-center align-items-center position-relative col withpad"
      style="height: 245px; width: 250px; background-color: #FFFFF0; border-radius: 15px; text-decoration: none;">
      <div class="text-center" style="margin-top: 20px;">
        <div
          style="height: 135px; width: 210px; background-color: #D9D9D9; display: flex; align-items: center; justify-content: center;">
          <p style="color: white; font-family: DM Mono; font-size: 24px; margin: 0;">Preview</p>
        </div>
        <span style="display: block; font-size: 24px; font-family: DM Mono; color: black; margin-top: 10px;">Name</span>
        <p style="font-size: 16px; font-family: DM Mono; color: rgba(0, 0, 0, 0.5); margin: 0;">Owner</p>
        <p style="text-align: right; font-size: 14px; font-family: DM Mono; color: rgba(0, 0, 0, 0.5); margin-top: 10px;">
          Share Type</p>
      </div>
    </a>
  </div>
</div>

<!-- Modal for adding new notes -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Form for adding new notes -->
        <form id="add-note-form" action="/add-notes-and-edit/add_note" method="POST">
          <!-- CSRF Token -->
          <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
          <!-- Hidden input for premade Google Docs link -->
          <input type="hidden" id="premade-google-docs-link" value="https://docs.google.com/document/d/your-premade-link/edit">
          <div class="input-group mb-3">
            <input type="text" class="form-control"
              style="border: none; border-bottom: 2px solid #000000; border-radius: 0;" placeholder="Name"
              aria-label="Name" name="note-name" id="note-name">
          </div>

          <div class="input-group mb-3">
            <input type="text" class="form-control" style="border: 2px solid black;  border-radius: 0;"
              placeholder="Link" aria-label="Link" name="note-link" id="note-link">
          </div>

          <input type="hidden" name="owner_id" id="owner_id" value="{{ session['user-id'] }}">
          <input type="hidden" name="owner_name" id="owner_name" value="{{ userName }}">

          <select name="privacy_value" id="privacy_value" class="form-select me-2"
            style="max-width: 150px; color: black;">
            <option value="private">Private</option>
            <option value="public">Public</option>
            <option value="shared">Shared</option>
          </select>
          <div class="modal-footer justify-content-center w-100 mt-3">
            <button type="submit" class="btn btn-dark">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Reviewers <section -->
<div class="ms-5 mt-3">
  <h2 style="font-family: inter;">Reviewers:</h2>
</div>

<!-- Dropdown for selecting reviewer type -->
<div class="ms-5">
  <form action="#" method="POST" id="ReviewersOptions">
    <div class="dropdown">
      <button class="btn dropdown-toggle btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
        aria-expanded="false">
        <b>Select Option</b>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><button type="submit" name="review_type" value="All" class="dropdown-item">All</button></li>
        <li><button type="submit" name="review_type" value="Flashcard" class="dropdown-item">Flashcard</button></li>
        <li><button type="submit" name="review_type" value="Identification" class="dropdown-item">Identification</button></li>
        <li><button type="submit" name="review_type" value="MultipleChoice" class="dropdown-item">Multiple Choice</button></li>
        <li><button type="submit" name="review_type" value="Mixed" class="dropdown-item">Mixed</button></li>
      </ul>
    </div>
  </form>
</div>

<!-- Boxes for reviewers -->
<div class="d-flex ms-5 mt-1">
  <div class="row d-flex flex-wrap justify-content-start">

    <!-- Button that triggers the modal -->
    <button type="button" class="d-flex justify-content-center position-relative col-4 withpad"
      style="width: 450px; height: 245px; background-color: #FFFFF0; border-radius: 15px; border: 2px dashed black; text-decoration: none;"
      data-bs-toggle="modal" data-bs-target="#exampleModal2">
      <i class="fa-solid fa-plus fa-2xl position-absolute top-50 start-50 translate-middle" style="color: black;"></i>
    </button>

    <!-- Reviewer boxes generated from data -->
    {% for flashcard in flashcards_data['data'] %}
    <a href="{{ url_for('flashcards.edit', id=flashcard[0]) }}" class="d-flex justify-content-start position-relative col-4 withpad"
      style="width: 450px; height: 245px; background-color: {{ flashcards_data['bgcolor'][flashcard[3]] }}; border-radius: 15px; text-decoration: none; border: 2px dashed black;">
      <div class="d-flex flex-column justify-content-between" style="height: 100%; padding: 10px; color: {{ flashcards_data['fgcolor'][flashcard[3]] }};">

        <div>
          <div style="font-size: 32px; font-family: DM Mono;"><b>{{ flashcard[1] }}</b></div>
          <div style="font-size: 20px; font-family: DM Mono;">{{ flashcard[3] }}</div>
        </div>

        <div class="d-flex justify-content-between align-items-end">
          <span style="font-size: 20px; font-family: DM Mono; opacity: 0.5; align-self: flex-start;">{{ userName }}</span>
          <span style="font-size: 16px; font-family: DM Mono; opacity: 0.5; align-self: flex-end;">{{ flashcard[4] }}</span>
        </div>

      </div>
    </a>
    {% endfor %}

  </div>
</div>

<!-- Button to view all reviewers -->
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a href="{{ url_for('reviewers_list.index') }}" class="btn btn-light me-md-2 reviewerslist" type="button">View All</a>
</div>

<!-- Modal for creating new flashcards -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            {% if category == 'error' %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endwith %}
        
        <!-- Form for creating flashcards -->
        <form action="{{ url_for('flashcards.create') }}" method="post">
          <!-- CSRF Token -->
          <input type="hidden" name="_csrf_token" id="_csrf_token" value="{{ csrf_token() }}" />
          <input type="hidden" name="from_url" id="from_url" value="{{ url_for('index') }}" />
          <!-- Input Field -->
          <div class="input-group mb-3">
            <input type="text" class="title-input form-control"
              style="border: none; border-bottom: 2px solid #000000; border-radius: 0;" placeholder="Title"

            {% set privacy = ["Private", "Public", "Shared"] %}
            <select name="reviewer-privacy" id="reviewer-privacy" class="form-select me-2"
              style="max-width: 150px; color: black;">
              {% for priv in privacy %}
              <option value="{{ priv }}">{{ priv }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="modal-footer justify-content-center w-100 mt-3">
            <button type="submit" class="create-button btn btn-dark">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Check if there's an error message and open the modal if true
    if (document.querySelector('.alert-danger')) {
      var createReviewerModal = new bootstrap.Modal(document.getElementById('exampleModal2'), {});
      createReviewerModal.show();
    }
  });
</script>

<!-- Include the add_notes_and_edit.js script -->
<script src="{{ url_for('static', filename='javascript/add_notes_and_edit/add_notes_and_edit.js') }}"></script>

{% endblock %}