{% extends "base.html" %}

{% block title %} Review Identifications {% endblock %}

{% block name %} {{ user_name }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reviewers/identifications/review.css') }}">

<button type="button" class="go-back-button">
    <i class="bi bi-arrow-left" style="margin-right: 5px;"></i> 
    <b style="font-weight: normal;">Go Back</b>
</button>

<div class="review-identifications-header">
    <div>
        <h1</h1>
    </div>    
</div>

<!-- for identifications na ni diri literal -->
<div class="identifications-container">
    <div class="identification" id="identification">
        <div class="identification-inner">
            <!-- front ni sa card = ang question diri -->
            <div class="identification-front">
                <p></p>
                    <img src="data:image/jpeg;base64" alt="identification Image" class="identification-image" style="max-width: 100%; height: auto;">
            </div>

            <!-- back ni sa card = ang answer diri -->
            <div class="identification-back">
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="navigation-buttons">
    <button type="button" id="prev-btn" class="prev-btn" onclick="showPreviousidentification()">
        <i class="bi bi-caret-left-fill"></i>
    </button>

    <div class="counter">
        identification <span id="current-count"> 1 </span>
    </div>

    <button type="button" id="next-btn" class="next-btn" onclick="showNextidentification()">
        <i class="bi bi-caret-right-fill"></i>
    </button>
</div>

<input type="hidden" name="congrats-url" id="congrats-url" >

<script type="application/json" id="data-json">
</script>

<script type="application/json" id="data-length">
</script>

{% endblock %}